@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-800: #0b0b0b;
  --color-900: #070707;
  --color-primary: #d0fbcb;
  --color-400: #9d9d9d;
}

body {
  background-color: var(--color-800);
  overflow: visible;
}

.text-stroke-white {
  /* color: "transparent"; */
  -webkit-text-stroke: "2px white";
  /* -webkit-text-fill-color: "transparent"; */
}
